.card {
  background: #fff;
  border-radius: 2px;
  height: 190px;
  margin: 1rem;
  width: 280px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.empID {
  border: solid;
  margin-left: -44px;  
  text-align: center;
  background-color: cadetblue;
  color:seashell ;
  font-weight:bold;

}

.content {
  background-color: ivory;
}
